<!DOCTYPE html>
<html>
  <head>
    <title>RailsAuthenticationFromScratch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header style="width: 1200px; margin: 0 auto;">
      <% flash.each do |message_type, message| %>
        <div class="<%= message_type %>"><%= message %></div>
      <% end %>
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to "My Acount", account_path %></li>
           <li><%= button_to "Logout", logout_path, method: :delete %></li>
        <% else %>
           <li><%= link_to "Login", login_path %></li>
           <li><%= link_to "Sign Up", sign_up_path %></li>
           <li><%= link_to "Forgot my password", new_password_path %></li>
           <li><%= link_to "Didn't receive confirmation instructions", new_confirmation_path %></li>
        <% end %>
      </ul>
      <hr/>
    </header>
    <main style="width: 1200px; margin: 0 auto;"> 
      <%= yield %>
    </main>
  </body>
</html>
